<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"	layout:decorator="layouts/main">
<head>
	<title>Blog</title>
</head>
<body>
		
   
    
	<div layout:fragment="loginContent">
	
	<h2 class="story-heading">Történetek</h2>
	
	<article th:each="story : ${stories}">
        <header>
            <h1 th:text="${story.title}">Ez itt a cím</h1> 
            <p th:text="${#dates.format(story.posted, 'yyyy.MM.dd HH.mm.ss')}">Posted on September 31, 2015 at 10:00 PM</p>
        </header>
    
 	    <section th:utext="${story.content}">
            <p>Carl összeráncolta szemöldökét, és felnézett az égre. Bármennyire is erőlködött, nem tudott egyetlen másodpercnél tovább a nap felé nézni. Az égitest vakító ereje bevilágította a környéket, emellett pedig szúrós meleg pontként szurkálta halántékát mind a két oldalról.</p>
      		<p> -Feladom… - gondolta, majd tekintetét a játszótérre emelte. Innen a nyolcadik emeletről tökéletesen be lehetett látni az egész grundot. A háztömbök által körülölelt focipályán a gyerekek nyüzsögtek reggeltől estig. Ha az egyiket elhívták a szülei, szinte azonnal jött a helyére egy másik. A hajnalban még négy fős csapatok délutánra nyolc tagúra dagadtak, naplemente előtt pedig már nem is lehetett pontosan megállapítani, hogy melyik térfelen hány gyerek szaladgál fel-alá.</p>
      		<p></p>
        </section>
        
        <footer>
            <address>
                Beküldte: <span th:text="${story.user.fullName}">Anonymous</span>
            </address>
        </footer>
        <hr/>
    </article>
		<div id="registeration">
		<form sec:authorize="isAuthenticated()" name="stories" th:action="@{/stories}" th:object="${story}" method="post" class="form-story">
			
				<input id = "title" type="text" name="title" th:field="*{title}" class="form-control" placeholder="Tárgy"/> 
				<div>
					<textarea rows="5" cols="40" th:field="*{content}" style="resize:none" class="form-control" placeholder="Bejegyzés"></textarea>
				<button class="btn btn-lg btn-primary btn-block" type="submit" >Küldés</button>
				
				</div>

		</form>
		</div>
		</div>
		
</body>
</html>